<div class="container-fluid">
    <div class="row jumbotron">
        <div class="col-md-7">
            <h2>GOKIBURI</h2>
            <h5>
                Years Active: <small>04/01/2012 - Present</small>
            </h5>
            <h5>Record Label: <small>Feel Co., LTD. | For Life Music Entertainment</small></h5>
            <h5>Kana: <small>ゴキブリ</small></h5>
            <h5>Ohp: <small><a href="http://gokinet.com/">http://gokinet.com/</a></small></h5>
      		<h5>Youtube: <small><a href="https://www.youtube.com/user/yuga0317">official GOKIBURI</a></small></h5>
      		<p>GOKIBURI is Yuuga's current band, formed in 2012. Much to everyone's surprise, Yuuga came out of retirment in 2011 with a session band named "THE.," which appeared to only have 1 other member and put out a few demos on youtube. Like most of his other projects, GOKIBURI has a pretty sarcastic twang to the way they carry themselves, from having most of their discography give out for free, to the ridiculous videos they upload to their Youtube channel. Musically, much of their songs are in the same realm as DEViL KiTTY's music, mixing punk with pop rock, and later their music began to drift to death-core and metal-core.</p>

      		<p>In 2012, Yuuga announced a change in bandname and that this project will be an official band. He also announced the release of their first single, "～風説の流布(fuusetsu no rufu)～" for May of that same year, to be sold for only 10 yen. Originally, this single was going to be called "「Blattodea(仮)」," but that was a tentative title and was never used. Shortly before its release, a PV for the title track "MAGURO" was added to Yuuga's Youtube channel. The official line-up was not released until shortly after that, which left many people to wonder if guitarist 4410 was actually ミサ (of Kein Klizer and Babylon).</p>
         	
         	<p>The band held their first one-man, "不毛(fumou)" on August 31st, 2012, at Shinjuku BLAZE. If tickets were purchased between 5/31 and 6/30 of the same year, the attendee recieved a free copy of his solo albums <strong>転校生ハ死神death</strong> and <strong>BLACK JACKト死神show</strong>. In addition to the distribution of these CDs, a free DVD was also slotted for release at their first one-man entitled "ゴミになったPV (GOMI NI NATTA PV)" which would contain their music video for "MAGURO." Lastly, on June 18th, "Feel co., Ltd" was established and the band ルピナスハーツ (Lupinus-Hearts) joined the label on the same day.</p>

         	<p>After their first one-man, two more one-man shows were announced: "若林健太くんを励ます会(wakabayashi kenta-kun wo hagemasukai)" and "恍惚～暇だから～(koukotsu～himadakara～)," both taking place at Shinjuku URGA. At the latter show, another free DVD was distributed entitled "不毛(fumou)," limited to 100 copies and contained less than 90 minutes of footage from their first one-man in August.</p>

         	<p>At their one-man 若林健太くんを励ます会, the band announced that they would be releasing their first full-length album, "黒い彗星-G-(kuroi suisei-G-)" on 04/10/2013. Like their track-record up until now, this album was also live-distributed for free and was even given out in advanced at their one-man shows throughout the end of March. This album contained both tracks from their first single, as well as 6 covers from various other bands Yuuga was in. Eventually the album was distributed at various indie stories, such as ZEAL LINK, Brand-X, Pure Sound, etc. Additionally, GOKIBURI released a free single entitled "約束(yakusoku)" at their one-man live at Meguro Rock May Kan on March 24th. As this single hasn't surfaced on the internet, it can be assumed that this is a cover of the Kar'MariA song with the same title. Another cover single was also slated to be released at their LuLu vs GOKIBURI 2-man live at Ikebukuro EDGE on October 17th, entitled "ROCKSTARの恋(ROCKSTAR no koi)(REMIX ver.)."</p>

         	<p>In August of 2013, Feel Co., Ltd began to grow with the addition of another band XALTEA, who held their first live "罪ノ宴(tsumi no utage)" on August 1st. GOKIBURI also became their opening act at their first one-man "悪・即・殺(aku soku satsu)" at Shinjuku URGA on 08/18/2013. XALTEA will prove to be short lived, however a few of its members will later join GOKIBURI or participate in side-acts with Yuuga.</p>

         	<p>GOKIBURI started 2014 with a 3-month consecutive single release campaign, with singles entitled: "痛ヒ。(itai)," "辛ヒ。(tsurai)," and "苦シヒ。(kurushii)." They were released on January 29th, February 26th, and March 26th, respectively. There was also an untitled PV DVD released at their live on March 20th.</p>

         	<p>After an attempt at a conditional disbandment (e.g.: if < 100 people attend our live, we'll break up), the guitarist of XALTEA 一斗(kazuto) joined GOKIBURI at their live "東京大敗戦(tokyo daihaisen)" on March 20th, 2014. This meant that GOKIBURI became a 6-member band and that guitarist 4410 changed his position to manipulator. With his joining, the band released (another) free CD entitled "黒い彗星(kuroi suisei)-G- 2ND IMPACT" on September 3rd of that same year. While it shares a similar name to their first album, it is important to note that this is a completely different mini-album and is not a second pressing. With this CD, the style of music GOKIBURI played changed from a more modern sounding, yet brittle, punk rock akin to DEViL KiTTY, to more of a metal / death-core act.</p>

         	<p>Around the time of the release of their first mini-album, bassist 汰麗(tama) was suffering from issues with his health. He ultimately left the band at their live "埼汰麗ララバイ(saki tama lullaby)" on October 18th, but was quickly replaced by 紅麗(kula) (of XALTEA) on November 3rd. 汰麗 later recovered and aims to return to the stage on March 19th, 2015, with a session act called "Tama with Spread Binbou." It was much more suprising, however, that the band announced that in the winter of 2014 they would be moving to a major lable: For Life Music Entertainment.</p> 
        </div>
        <div class="col-md-5">
        	<img class="img-responsive" src="gokiburi/images/GOKIBURI6.png" alt="major">
        	<img class="img-responsive" src="gokiburi/images/GOKIBURI1.jpg" alt="gokiburi">
        	<img class="img-responsive" src="gokiburi/images/GOKIBURI.jpg" alt="gokiburi">
        	<img class="img-responsive" src="gokiburi/images/maguro.png" alt="maguro">
    	</div>
    </div>
    <h3>Members</h3>
    <div class="row members">
        <table class="table">
            <tr>
                <td>Vocals</td>
                <td>優雅</td>
                <td class="romaji">(→Diana （support keyboard） → Celestier → Chateau La tour (Yü-ga → Yu-ga) → Kar'MariA → DEViL KiTTY / Deadly Sanctuary → THE. → GOKIBURI → GOKIBURI / Deadly)</td>
            </tr>
            <tr>
                <td>Guitar → Manipulator</td>
                <td>4410</td>
            </tr>
            <tr>
                <td>Guitar</td>
                <td>Etsu</td>
                <td class="romaji">(→Lies and Truth → GOKIBURI)</td>
            </tr>
            <tr>
                <td>Guitar</td>
                <td>一斗</td>
                <td class="romaji">(→XALTEA → GOKIBURI)</td>
            </tr>
            <tr>
                <td>Bass</td>
                <td>紅麗</td>
                <td class="romaji">(→XALTEA → GOKIBURI)</td>
            </tr>
            <tr>
                <td>Drums</td>
                <td>若林</td>
                <td class="romaji">>(→Chateau La tour (ke-to) → Kar'MariA → GOKIBURI (若林) / 酒血肉林 (Sake Ketsuniku Rin))</td>
            </tr>
        </table>
    </div>
    <h4>Former Members</h4>
    <div class="row members">
        <table class="table">
            <tr>
                <td>Guitar</td>
                <td>智哉 (THE. only?)</td>
                <td class="romaji">(→ALi'ze Mis Ra'ill → >グラミー(glammy) → baby shiter → kult unique, MURDER Ms.KAST → 優雅(yu-ga)(ssupport) → THE.)</td>
            </tr>
            <tr>
                <td>Bass</td>
                <td>舞羅</td>
                <td class="romaji">(?? → GOKIBURI)</td>
            </tr>
            <tr>
                <td>Bass</td>
                <td>汰麗</td>
                <td class="romaji">(→Lagna → La'rave → Luminas → シルバリズム (silverhythm) → シリアル⇔NUMBER (serial NUMBER) → ActLess TheAteR → ZEXER (support) → バックドロップ零式 (backdrop zero-shiki) → the WoRLD → OUTЯAGE → GOKIBURI)</td>
            </tr>
        </table>
    </div>
    <h3>Discography</h3>
    <div class="row discography">
        <div class="col-md-3  discography-image">
            <h4>{{albums['maguro'].name}}</h4>
            <img class="discography-image-art" ng-src="{{albums['maguro'].albumArt}}">
        </div>
        <div class="col-md-7 discography-text">
            <div class="discography-info">
                <div class="discography-info-content">
                    <span class="type">
                        {{albums['maguro'].type}}
                    </span> －
                    <span class="romaji">
                        {{albums['maguro'].romaji}}
                    </span> －
                    <span>{{albums['maguro'].date}}</span> －
                    <span>{{albums['maguro'].price}}</span>
                </div>
            </div>
            <div class="discograpy-titles">
                <ol class="discography-titles-tracks">
                    <li ng-repeat="track in albums['maguro'].tracks">
                        {{$index+1}}.) {{track.title}} <span class="romaji" ng-if="track.romaji">({{track.romaji}})</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row discography">
        <div class="col-md-3  discography-image">
            <h4>{{albums['yakusoku'].name}}</h4>
            <img class="discography-image-art" ng-src="{{albums['yakusoku'].albumArt}}">
        </div>
        <div class="col-md-7 discography-text">
            <div class="discography-info">
                <div class="discography-info-content">
                    <span class="type">
                        {{albums['yakusoku'].type}}
                    </span> －
                    <span class="romaji">
                        {{albums['yakusoku'].romaji}}
                    </span> －
                    <span>{{albums['yakusoku'].date}}</span> 
                    <span>{{albums['yakusoku'].price}}</span>
                </div>
            </div>
            <div class="discograpy-titles">
                <ol class="discography-titles-tracks">
                    <li ng-repeat="track in albums['yakusoku'].tracks">
                        {{$index+1}}.) {{track.title}} <span class="romaji" ng-if="track.romaji">({{track.romaji}})</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row discography">
        <div class="col-md-3  discography-image">
            <h4>{{albums['rockstar'].name}}</h4>
            <img class="discography-image-art" ng-src="{{albums['rockstar'].albumArt}}">
        </div>
        <div class="col-md-7 discography-text">
            <div class="discography-info">
                <div class="discography-info-content">
                    <span class="type">
                        {{albums['rockstar'].type}}
                    </span> －
                    <span class="romaji">
                        {{albums['rockstar'].romaji}}
                    </span> －
                    <span>{{albums['rockstar'].date}}</span> 
                    <span>{{albums['rockstar'].price}}</span>
                </div>
            </div>
            <div class="discograpy-titles">
                <ol class="discography-titles-tracks">
                    <li ng-repeat="track in albums['rockstar'].tracks">
                        {{$index+1}}.) {{track.title}} <span class="romaji" ng-if="track.romaji">({{track.romaji}})</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row discography">
        <div class="col-md-3  discography-image">
            <h4>{{albums['G'].name}}</h4>
            <img class="discography-image-art" ng-src="{{albums['G'].albumArt}}">
        </div>
        <div class="col-md-7 discography-text">
            <div class="discography-info">
                <div class="discography-info-content">
                    <span class="type">
                        {{albums['G'].type}}
                    </span> －
                    <span class="romaji">
                        {{albums['G'].romaji}}
                    </span> －
                    <span>{{albums['G'].date}}</span> 
                    <span>{{albums['G'].price}}</span>
                </div>
            </div>
            <div class="discograpy-titles">
                <ol class="discography-titles-tracks">
                    <li ng-repeat="track in albums['G'].tracks">
                        {{$index+1}}.) {{track.title}} <span class="romaji" ng-if="track.romaji">({{track.romaji}})</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row discography">
        <div class="col-md-3  discography-image">
            <h4>{{albums['itai'].name}}</h4>
            <img class="discography-image-art" ng-src="{{albums['itai'].albumArt}}">
        </div>
        <div class="col-md-7 discography-text">
            <div class="discography-info">
                <div class="discography-info-content">
                    <span class="type">
                        {{albums['itai'].type}}
                    </span> －
                    <span class="romaji">
                        {{albums['itai'].romaji}}
                    </span> －
                    <span>{{albums['itai'].date}}</span> －
                    <span>{{albums['itai'].price}}</span>
                </div>
            </div>
            <div class="discograpy-titles">
                <ol class="discography-titles-tracks">
                    <li ng-repeat="track in albums['itai'].tracks">
                        {{$index+1}}.) {{track.title}} <span class="romaji" ng-if="track.romaji">({{track.romaji}})</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row discography">
        <div class="col-md-3  discography-image">
            <h4>{{albums['tsurai'].name}}</h4>
            <img class="discography-image-art" ng-src="{{albums['tsurai'].albumArt}}">
        </div>
        <div class="col-md-7 discography-text">
            <div class="discography-info">
                <div class="discography-info-content">
                    <span class="type">
                        {{albums['tsurai'].type}}
                    </span> －
                    <span class="romaji">
                        {{albums['tsurai'].romaji}}
                    </span> －
                    <span>{{albums['tsurai'].date}}</span> －
                    <span>{{albums['tsurai'].price}}</span>
                </div>
            </div>
            <div class="discograpy-titles">
                <ol class="discography-titles-tracks">
                    <li ng-repeat="track in albums['tsurai'].tracks">
                        {{$index+1}}.) {{track.title}} <span class="romaji" ng-if="track.romaji">({{track.romaji}})</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row discography">
        <div class="col-md-3  discography-image">
            <h4>{{albums['kurushii'].name}}</h4>
            <img class="discography-image-art" ng-src="{{albums['kurushii'].albumArt}}">
        </div>
        <div class="col-md-7 discography-text">
            <div class="discography-info">
                <div class="discography-info-content">
                    <span class="type">
                        {{albums['kurushii'].type}}
                    </span> －
                    <span class="romaji">
                        {{albums['kurushii'].romaji}}
                    </span> －
                    <span>{{albums['kurushii'].date}}</span> －
                    <span>{{albums['kurushii'].price}}</span>
                </div>
            </div>
            <div class="discograpy-titles">
                <ol class="discography-titles-tracks">
                    <li ng-repeat="track in albums['kurushii'].tracks">
                        {{$index+1}}.) {{track.title}} <span class="romaji" ng-if="track.romaji">({{track.romaji}})</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row discography">
        <div class="col-md-3  discography-image">
            <h4>{{albums['second'].name}}</h4>
            <img class="discography-image-art" ng-src="{{albums['second'].albumArt}}">
        </div>
        <div class="col-md-7 discography-text">
            <div class="discography-info">
                <div class="discography-info-content">
                    <span class="type">
                        {{albums['second'].type}}
                    </span> －
                    <span class="romaji">
                        {{albums['second'].romaji}}
                    </span> －
                    <span>{{albums['second'].date}}</span> 
                    <span>{{albums['second'].price}}</span>
                </div>
            </div>
            <div class="discograpy-titles">
                <ol class="discography-titles-tracks">
                    <li ng-repeat="track in albums['second'].tracks">
                        {{$index+1}}.) {{track.title}} <span class="romaji" ng-if="track.romaji">({{track.romaji}})</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>