@media(max-width: 990px){
    .img-responsive{
        margin: 0 auto;
    }
}
@media(max-width: 765px){
    nav{
        position: relative;
    }
    ng-view{
        position: relative;
        top: -20px;
    }
    .jumbotron .img-responsive{
        padding-top: 0px;
    }
    .navbar a{
        margin-left: 15px;
    }
    .navbar-default .navbar-brand{
        margin-left: 0px;
    }
    
}
@media(max-width: 600px){
    .discography-info-content{
        width: 130%;
        font-size:12px;
    }
    .discography{
        font-size: 12px;
    }
}
