<div class="container-fluid">
    <div class="row jumbotron">
        <div class="col-md-4">
            <h2>Deadly Sanctuary</h2>
            <h5>
                Years Active: <small>2001~2005 | 2014~Present</small>
            </h5>
            <h5>Record Label: <small>Eternal | Luciffer's Record | CLIMAX ENTERPRISE</small></h5>
            <h5>Kana: <small>デッドリー·サンクチュアリ</small></h5>
            <p>Deadly Sanctuary was a side-project for Yuuga, along with his soon-to-be producer, and owner of the Eternal label, Yayoi (of Vice†Risk / Angel+Dust, by the name of "Hibiki" here). What set this band apart from any other group either of those two have been in was its sheer rawness: Deadly Sanctuary was a punk rock band who's production was extremely low budget and lyrical content was often inappropriate, albiet facetious. Their first demotape, "ホームシックチャイルド" (HOMESICK CHILD) was the first official release of the Eternal label, a sub-label of Matina, which eventually became the label to distribute Kar'MariA's material. </p>

            <p>As Deadly Sanctuary was a side-project, Yuuga and Yayoi were the only official members. For each of their releases, the duo used a myriad of support members from other bands on Eternal, such as La'Miss†Fairy, ガラス (Glass), and Earl Grey. These members changed over the years, although I am uncertain who was a support member once the band was signed to CLIMAX Enterprises.</p>

            <p>The years of activity for Deadly Sanctuary spanned over a time period in which a lot of record labels were changing hands. Eternal closed in 2002 and Yayoi later opened his second lable, CLIMAX Enterprises, sometime in 2003. In between both labels, the band became a part of Yuuga's lable Luciffer's Record, for a brief time. The band also released an split single with the flagship band of Anarchist Records, ∀NTI FEMINISM. </p>

            <p>In 2005, the band split. At this point they released several demotapes, a full album, a mini-album, a split single, and made a number of omnibus appearances. However, in 2014, the band reappeared and became performing again under the name "Deadly." <img src="deadlySanctuary/images/tweet.png" class="img-responsive"></p>

            <p> Thus far, the band has only done live performances and Yayoi has opened a new <a href="https://twitter.com/EXCEL_BOSS" target="_blank">Twitter account</a> This project is for a limited period, but no end date has been announced.</p>
        </div>
        <div class="col-md-8">
            <img class="img-responsive" src="deadlySanctuary/images/Deadly+Sanctuary.jpg" alt="Deadly Sanctuary">
            <img class="img-responsive" src="deadlySanctuary/images/homesick.jpg" alt="Deadly Sanctuary">
            <img class="img-responsive" src="deadlySanctuary/images/red.jpg" alt="Deadly Sanctuary">
            <img class="img-responsive" src="deadlySanctuary/images/ds1.jpg" alt="Deadly Sanctuary">
            

            <!--<img class="img-responsive" src="chateauLaTour/images/metemgroup.jpg" alt="Chateau La Tour">-->
        </div>
    </div>
    <h3>Members</h3>
    <div class="row members">
        <table class="table">
            <tr>
                <td>Vocals</td>
                <td>響</td>
                <td class="romaji">(→LAZY-DAZY(Gu) → ANGEL＋DUST(Yayoi) → Vice†risk(弥生) → La'miss†fairy → Garnet → jewelry / romance red → Deadly)</td>
            </tr>
            <tr>
                <td>Guitar</td>
                <td>優雅</td>
                  <td class="romaji">(→Diana （support keyboard） → Celestier → Chateau La tour (Yü-ga → Yu-ga) → Kar'MariA(優雅) → DEViL KiTTY → THE. → GOKIBURI)</td>
            </tr>
            <tr>
                <td>Guitar (Support)</td>
                <td>一斗 <span class="romaji">Kazuto</span></td>
                <td class="romaji">(→XALTEA → GOKIBURI)</td>
            </tr>
            <tr>
                <td>Bass (Support)</td>
                <td>祐介 <span class="romaji">yuusuke</span></td>
                <td class="romaji">(→joker's)</td>
            </tr>
            <tr>
                <td>Drums (Support)</td>
                <td>yu-ki</td>
                <td class="romaji">(→EX-TRYGHT)</td>
            </tr>
        </table>
    </div>
    <div class="row members">
        <h4>Former Members</h4>
        <table class="table">
            <tr>
                <td>Guest Vocals</td>
                <td>槭</td>
                <td class="romaji">(→ Misery → DOOMS DAY → ESCUDO → Kilah → DEViL KiTTY → GHOST)</td>
            </tr>
            <tr>
                <td>Guitar (Support)</td>
                <td>YURA</td>
                <td class="romaji">(→ Misery → DOOMS DAY → ESCUDO → Kilah → DEViL KiTTY → GHOST)</td>
            </tr>
            <tr>
                <td>Guitar (Support)</td>
                <td>Zill</td>
                <td class="romaji">(→Earl Grey)</td>
            </tr>
            <tr>
                <td>Bass (Support)</td>
                <td>Kisaki</td>
                <td class="romaji">(→Levia → LAYBIAL → SHEY≠DE → garden → De≠prive → Stella Maria → Ruby (support) → 廃人黒薔薇族 → La:Sadie’s → MIRAGE → Syndrome → KISAKI PROJECT → 妃＆関西貴族 → Phantasmagoria / ∀NTI FEMINISM(2007)(Support) → E’m～grief～ (support) → Phantasmagoria → Kisaki Slaves → 凛 / KISAKI PROJECT feat.砂月 / UNDER CODE PRODUCTION LAST COLLABORATION「D.N.A」 → Schwarz Vrain → 凛)</td>
            </tr>
            <tr>
                <td>Bass (Support)</td>
                <td>taka</td>
                <td class="romaji">(→death+qpid → Sugar Trip)</td>
            </tr>
            <tr>
                <td>Bass (Support)</td>
                <td>紫乃</td>
                <td class="romaji">(→ かなりあの → LA VALLIERE → CANARY → Vice†risk → La'miss†fairy → Juka (ユーゼ (<span class="romaji">Yuuze</span>), support) → E'm～Grief～ (Guitar, Bass, Programming) → Deceased)</td>
            </tr>
            <tr>
                <td>Drums (Support)</td>
                <td>絢汰</td>
                <td class="romaji">(→Chateau La tour (ke-to) → Kar'MariA → GOKIBURI (若林) / 酒血肉林)</td>
            </tr>
            <tr>
                <td>Drums (Support)</td>
                <td>夏澄</td>
                <td class="romaji">(→キュア （Support） → LaDeathtopiA → LeVIsage → Misery （Support） → La'miss†fairy → ギミック(樺澄) → BIZ176(楓栖) → the Riotts.)</td>
            </tr>
            <tr>
                <td>Drums (Support)</td>
                <td>MEGURU</td>
                <td class="romaji">(→ Virtione(Lenace) → ガラス → パニックちゃんねる、PANIC☆ch (vocals) → Advance by 666)</td>
            </tr>
        </table>
    </div>
    <h3>Discography</h3>
    <div class="row discography">
        <div class="col-md-3  discography-image">
            <h4>{{albums['homesick'].name}}</h4>
            <img class="discography-image-art" ng-src="{{albums['homesick'].albumArt}}">
        </div>
        <div class="col-md-7 discography-text">
            <div class="discography-info">
                <div class="discography-info-content">
                    <span class="type">
                        {{albums['homesick'].type}}
                    </span> －
                    <span class="romaji">
                        {{albums['homesick'].romaji}}
                    </span> －
                    <span>{{albums['homesick'].date}}</span> －
                    <span>{{albums['homesick'].price}}</span>
                </div>
            </div>
            <div class="discograpy-titles">
                <ol class="discography-titles-tracks">
                    <li ng-repeat="track in albums['homesick'].tracks">
                        {{$index+1}}.) {{track.title}} <span class="romaji" ng-if="track.romaji">({{track.romaji}})</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row discography">
        <div class="col-md-3  discography-image">
            <h4>{{albums['civet'].name}}</h4>
            <img class="discography-image-art" ng-src="{{albums['civet'].albumArt}}">
        </div>
        <div class="col-md-7 discography-text">
            <div class="discography-info">
                <div class="discography-info-content">
                    <span class="type">
                        {{albums['civet'].type}}
                    </span> －
                    <span class="romaji">
                        {{albums['civet'].romaji}}
                    </span> －
                    <span>{{albums['civet'].date}}</span> －
                    <span>{{albums['civet'].price}}</span>
                </div>
            </div>
            <div class="discograpy-titles">
                <ol class="discography-titles-tracks">
                    <li ng-repeat="track in albums['civet'].tracks">
                        {{$index+1}}.) {{track.title}} <span class="romaji" ng-if="track.romaji">({{track.romaji}})</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row discography">
        <div class="col-md-3  discography-image">
            <h4>{{albums['kijin'].name}}</h4>
            <img class="discography-image-art" ng-src="{{albums['kijin'].albumArt}}">
        </div>
        <div class="col-md-7 discography-text">
            <div class="discography-info">
                <div class="discography-info-content">
                    <span class="type">
                        {{albums['kijin'].type}}
                    </span> －
                    <span class="romaji">
                        {{albums['kijin'].romaji}}
                    </span> －
                    <span>{{albums['kijin'].date}}</span> 
                    <span>{{albums['kijin'].price}}</span>
                </div>
            </div>
            <div class="discograpy-titles">
                <ol class="discography-titles-tracks">
                    <li ng-repeat="track in albums['kijin'].tracks">
                        {{$index+1}}.) {{track.title}} <span class="romaji" ng-if="track.romaji">({{track.romaji}})</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row discography">
        <div class="col-md-3  discography-image">
            <h4>{{albums['kaleidoscope'].name}}</h4>
            <img class="discography-image-art" ng-src="{{albums['kaleidoscope'].albumArt}}">
        </div>
        <div class="col-md-7 discography-text">
            <div class="discography-info">
                <div class="discography-info-content">
                    <span class="type">
                        {{albums['kaleidoscope'].type}}
                    </span> 
                    <span class="romaji">
                        {{albums['kaleidoscope'].romaji}}
                    </span> －
                    <span>{{albums['kaleidoscope'].date}}</span> 
                    <span>{{albums['kaleidoscope'].price}}</span>
                </div>
            </div>
            <div class="discograpy-titles">
                <ol class="discography-titles-tracks">
                    <li ng-repeat="track in albums['kaleidoscope'].tracks">
                        {{$index+1}}.) {{track.title}} <span class="romaji" ng-if="track.romaji">({{track.romaji}})</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row discography">
        <div class="col-md-3  discography-image">
            <h4>{{albums['public'].name}}</h4>
            <img class="discography-image-art" ng-src="{{albums['public'].albumArt}}">
        </div>
        <div class="col-md-7 discography-text">
            <div class="discography-info">
                <div class="discography-info-content">
                    <span class="type">
                        {{albums['public'].type}}
                    </span> 
                    <span class="romaji">
                        {{albums['public'].romaji}}
                    </span> －
                    <span>{{albums['public'].date}}</span> 
                    <span>{{albums['public'].price}}</span>
                </div>
            </div>
            <div class="discograpy-titles">
                <ol class="discography-titles-tracks">
                    <li ng-repeat="track in albums['public'].tracks">
                        {{$index+1}}.) {{track.title}} <span class="romaji" ng-if="track.romaji">({{track.romaji}})</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row discography">
        <div class="col-md-3  discography-image">
            <h4>{{albums['inseparable'].name}}</h4>
            <img class="discography-image-art" ng-src="{{albums['inseparable'].albumArt}}">
        </div>
        <div class="col-md-7 discography-text">
            <div class="discography-info">
                <div class="discography-info-content">
                    <span class="type">
                        {{albums['inseparable'].type}}
                    </span> 
                    <span class="romaji">
                        {{albums['inseparable'].romaji}}
                    </span> －
                    <span>{{albums['inseparable'].date}}</span> 
                    <span>{{albums['inseparable'].price}}</span>
                </div>
            </div>
            <div class="discograpy-titles">
                <ol class="discography-titles-tracks">
                    <li ng-repeat="track in albums['inseparable'].tracks">
                        {{$index+1}}.) {{track.title}} <span class="romaji" ng-if="track.romaji">({{track.romaji}})</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row discography">
        <div class="col-md-3  discography-image">
            <h4>{{albums['imperial'].name}}</h4>
            <img class="discography-image-art" ng-src="{{albums['imperial'].albumArt}}">
        </div>
        <div class="col-md-7 discography-text">
            <div class="discography-info">
                <div class="discography-info-content">
                    <span class="type">
                        {{albums['imperial'].type}}
                    </span> 
                    <span class="romaji">
                        {{albums['imperial'].romaji}}
                    </span> －
                    <span>{{albums['imperial'].date}}</span> 
                    <span>{{albums['imperial'].price}}</span>
                </div>
            </div>
            <div class="discograpy-titles">
                <ol class="discography-titles-tracks">
                    <li ng-repeat="track in albums['imperial'].tracks">
                        {{$index+1}}.) {{track.title}} <span class="romaji" ng-if="track.romaji">({{track.romaji}})</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row discography">
        <div class="col-md-3  discography-image">
            <h4>{{albums['emperor'].name}}</h4>
            <img class="discography-image-art" ng-src="{{albums['emperor'].albumArt}}">
        </div>
        <div class="col-md-7 discography-text">
            <div class="discography-info">
                <div class="discography-info-content">
                    <span class="type">
                        {{albums['emperor'].type}}
                    </span> 
                    <span class="romaji">
                        {{albums['emperor'].romaji}}
                    </span> －
                    <span>{{albums['emperor'].date}}</span> 
                    <span>{{albums['emperor'].price}}</span>
                </div>
            </div>
            <div class="discograpy-titles">
                <ol class="discography-titles-tracks">
                    <li ng-repeat="track in albums['emperor'].tracks">
                        {{$index+1}}.) {{track.title}} <span class="romaji" ng-if="track.romaji">({{track.romaji}})</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>