<div class="container-fluid">
    <div class="row jumbotron">
        <div class="col-md-4">
            <h2>Chateau La Tour</h2>
            <h5>
                Years Active: <small>1999~01/06/2001</small>
            </h5>
            <h5>Record Label: <small>Lucifer's Record</small></h5>
            <h5>Kana: <small>シャトー·ラ·トゥール</small></h5>
            <p>Chateau la Tour was formed in 1999 under the Luciffer's Record label. At this time, Yuuga's (Yü-ga at this point) compositional style was very typical of many other contemporary bands, although there was still a unique flair to their music. Their songs used mostly clean vocals, often using doubling effects, and ranged from crazy and chaotic (such as "Smile" and "Schizopherenia") to sad and mournful (such as "I Wish" and "Solitude").They were predominately active in the Kanto region of Japan. Chateau La Tour then disbanded in on January 6th, 2001, just shy of two years of activity. Before their demise, the band released three singles, a full album, and made a V.A. appearance. Like many visual-kei bands have done, their full length album consisted of mostly rereleased material, a handful of new songs, and one track that was reinterpreted for the album. 11 months after their disbandment, Yü-ga, guitarist kiyo, and drummer Ke-to, moved on to Kar'MariA. </p>
        </div>
        <div class="col-md-8">
            <img class="img-responsive" src="chateauLaTour/images/chat_header.png" alt="Chateau La Tour">
            <img class="img-responsive" src="chateauLaTour/images/metemgroup.jpg" alt="Chateau La Tour">
        </div>
    </div>
    <h3>Members</h3>
    <div class="row members">
        <table class="table">
            <tr>
                <td>Vocals</td>
                <td>Yu-ga</td>
                <td class="romaji">(→Diana（support keyboard）→Celestier→Chateau La tour (Yü-ga → Yu-ga) → Kar'MariA(優雅) → DEViL KiTTY → THE. → GOKIBURI)</td>
            </tr>
            <tr>
                <td>Guitar</td>
                <td>kiyo</td>
                <td class="romaji">(→Tentatores Maligenii → Chateau La tour → Kar'MariA(葵世))</td>
            </tr>
            <tr>
                <td>Guitar</td>
                <td>Shuji</td>
                <td class="romaji">(→Diana → Chateau La tour → Chronosphere→Free)</td>
            </tr>
            <tr>
                <td>Bass</td>
                <td>Aki</td>
                <td class="romaji">(→ Chateau La tour → duraluMin)</td>
            </tr>
            <tr>
                <td>Drums</td>
                <td>Ke-To</td>
                <td class="romaji">(→Chateau La tour → Kar'MariA(絢汰) → GOKIBURI (若林) / 酒血肉林)</td>
            </tr>
        </table>
    </div>
    <h3>Discography</h3>
    <div class="row discography">
        <div class="col-md-3  discography-image">
            <h4>{{albums['metsubou'].name}}</h4>
            <img class="discography-image-art" ng-src="chateauLaTour/images/discog/{{albums['metsubou'].albumArt}}">
        </div>
        <div class="col-md-7 discography-text">
            <div class="discography-info">
                <div class="discography-info-content">
                    <span class="type">
                        {{albums['metsubou'].type}}
                    </span> －
                    <span class="romaji">
                        {{albums['metsubou'].romaji}}
                    </span> －
                    <span>{{albums['metsubou'].date}}</span> －
                    <span>{{albums['metsubou'].price}}</span>
                </div>
            </div>
            <div class="discograpy-titles">
                <ol class="discography-titles-tracks">
                    <li ng-repeat="track in albums['metsubou'].tracks">
                        {{$index+1}}.) {{track.title}} <span class="romaji" ng-if="track.romaji">({{track.romaji}})</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row discography">
        <div class="col-md-3 discography-image">
            <h4>{{albums['bousou'].name}}</h4>
            <img class="discography-image-art" ng-src="chateauLaTour/images/discog/{{albums['bousou'].albumArt}}">
        </div>
        <div class="col-md-7 discography-text">
            <div class="discography-info">
                <div class="discography-info-content">
                    <span class="type">
                        {{albums['bousou'].type}}
                    </span>－
                    <span class="romaji">
                        {{albums['bousou'].romaji}}
                    </span>－
                    <span>{{albums['bousou'].date}}</span> －
                    <span>{{albums['bousou'].price}}</span>
                </div>
            </div>
            <div class="discograpy-titles">
                <ol class="discography-titles-tracks">
                    <li ng-repeat="track in albums['bousou'].tracks">
                        {{$index+1}}.) {{track.title}} <span class="romaji" ng-if="track.romaji">({{track.romaji}})</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row discography">
        <div class="col-md-3 discography-image">
            <h4>{{albums['souretsu'].name}}</h4>
            <img class="discography-image-art" ng-src="chateauLaTour/images/discog/{{albums['souretsu'].albumArt}}">
        </div>
        <div class="col-md-7 discography-text">
            <div class="discography-info">
                <div class="discography-info-content">
                    <span class="type">
                        {{albums['souretsu'].type}}
                    </span>－
                    <span class="romaji">
                        {{albums['souretsu'].romaji}}
                    </span>－
                    <span>{{albums['souretsu'].date}}</span>－
                    <span>{{albums['souretsu'].price}}</span>
                </div>
            </div>
            <div class="discograpy-titles">
                <ol class="discography-titles-tracks">
                    <li ng-repeat="track in albums['souretsu'].tracks">
                        {{$index+1}}.) {{track.title}} <span class="romaji" ng-if="track.romaji">({{track.romaji}})</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row discography">
        <div class="col-md-3 discography-image">
            <h4>{{albums['metempsychosis'].name}}</h4>
            <img class="discography-image-art" ng-src="chateauLaTour/images/discog/{{albums['metempsychosis'].albumArt}}">
        </div>
        <div class="col-md-7 discography-text">
            <div class="discography-info">
                <div class="discography-info-content">
                    <span class="type">
                        {{albums['metempsychosis'].type}}
                    </span>－
                    <span class="romaji">
                        {{albums['metempsychosis'].romaji}}
                    </span>
                    <span>{{albums['metempsychosis'].date}}</span>－
                    <span>{{albums['metempsychosis'].price}}</span>
                </div>
            </div>
            <div class="discograpy-titles">
                <ol class="discography-titles-tracks">
                    <li ng-repeat="track in albums['metempsychosis'].tracks">
                        {{$index+1}}.) {{track.title}} <span class="romaji" ng-if="track.romaji">({{track.romaji}})</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row discography">
        <div class="col-md-3 discography-image">
            <h4>{{albums['invasion'].name}}</h4>
            <img class="discography-image-art" ng-src="chateauLaTour/images/discog/{{albums['invasion'].albumArt}}">
        </div>
        <div class="col-md-7 discography-text">
            <div class="discography-info">
                <div class="discography-info-content">
                    <span class="type">
                        {{albums['invasion'].type}}
                    </span>－
                    <span class="romaji">
                        {{albums['invasion'].romaji}}
                    </span>
                    <span>{{albums['invasion'].date}}</span>－
                    <span>{{albums['invasion'].price}}</span>
                </div>
            </div>
            <div class="discograpy-titles">
                <ol class="discography-titles-tracks">
                    <li ng-repeat="track in albums['invasion'].tracks">
                        {{$index+1}}.) {{track.title}} <span class="romaji" ng-if="track.romaji">({{track.romaji}})</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>

</div>